.Forge {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr;
  align-content: stretch;
  font-family: var(--font-departure), monospace;
  color: #fff;
  text-shadow: 2px 1px 0 rgba(0, 0, 0, 1);
  padding: 20px;
  gap: 20px;
}

.Footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
  background: rgba(59, 55, 49, 0.8);

  border-image-slice: 18 26 26 23;
  border-image-width: 16px 16px 16px 16px;
  border-image-outset: 0px 0px 0px 0px;

  border-image-repeat: round repeat;
  border-image-source: url("../public/border.png");
  border-style: solid;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3), inset 0 0 12px rgba(0, 0, 0, 0.8);
}

.Footer::before {
  display: block;
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-top: 4px solid rgba(255, 250, 234, 0.4);
  border-left: 4px solid rgba(255, 250, 234, 0.4);
  border-right: 4px solid rgba(23, 23, 23, 0.5);
  border-bottom: 5px solid rgba(23, 23, 23, 0.5);
  pointer-events: none;
}

.Footer::after {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-top: 4px solid rgba(23, 23, 23, 0.5);
  border-left: 4px solid rgba(23, 23, 23, 0.5);
  border-right: 4px solid rgba(255, 250, 234, 0.4);
  border-bottom: 4px solid rgba(255, 250, 234, 0.4);
  pointer-events: none;
}

.Footer form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.NameInput {
  position: relative;
  font-size: 18px;
  font-family: var(--system-ui);
  font-weight: normal;
  font-style: italic;
  line-height: 1;
}

.NameInput input {
  display: block;
  min-width: 240px;
  max-width: 100%;
  min-height: 46px;
  background: #fff;
  color: #333;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  font-style: inherit;
  line-height: inherit;
  padding: 2px 50px 2px 10px;
}

.NameInput::after {
  display: grid;
  place-content: center;
  content: ".vl2";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50px;
  color: #999;
}

.DownloadButton {
  border: 0;
  margin: 0;
  padding: 0 0 1px 0;
  min-width: 128px;
  min-height: 46px;
  font-family: var(--font-departure), monospace;
  font-size: 18px;
  font-style: inherit;
  font-weight: inherit;
  line-height: 1;
  border-radius: 2px;
  background: url("../public/button.png") transparent;
  background-repeat: no-repeat;
  background-size: 150% 190%;
  background-position: 50% 50%;
  border-top: 3px solid rgba(255, 145, 105, 0.5);
  border-left: 3px solid rgba(255, 178, 150, 0.5);
  border-right: 3px solid rgba(36, 14, 14, 0.7);
  border-bottom: 3px solid rgba(36, 14, 14, 0.7);
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 226, 82, 0.358), 2px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.ListArea {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px;
  background: rgba(2, 2, 84, 0.252);
  border-radius: 12px;
}

.FileList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.EmptyMessage {
  align-self: center;
  text-align: center;
}

.AddButton {
  border: 0;
  margin: 0;
  padding: 0 0 2px 0;
  min-width: 48px;
  min-height: 48px;
  font-family: var(--font-departure), monospace;
  font-size: 40px;
  font-style: inherit;
  font-weight: inherit;
  line-height: 1;
  border-radius: 3px;
  background: url("../public/button.png") transparent;
  background-repeat: no-repeat;
  background-size: 150% 190%;
  background-position: 50% 50%;
  border-top: 3px solid rgba(255, 145, 105, 0.5);
  border-left: 3px solid rgba(255, 178, 150, 0.5);
  border-right: 3px solid rgba(36, 14, 14, 0.7);
  border-bottom: 3px solid rgba(36, 14, 14, 0.7);
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 226, 82, 0.358), 2px 3px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  vertical-align: middle;
}

.Header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.File {
  display: flex;
  align-items: center;
  gap: 12px;
}

.DeleteButton {
  flex: 0 0 auto;
  border: 0;
  background: transparent;
  display: grid;
  place-content: center;
  font-size: 24px;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.DeleteButton:hover {
  color: rgb(255, 89, 89);
}

.DeleteButton svg {
  pointer-events: none;
}

.IconContainer {
  flex: 0 0 auto;
  display: grid;
  place-content: center;
  width: 24px;
}

.PreviewIcon {
  width: 100%;
  height: auto;
  max-height: 24px;
  border: 1px solid black;
}

.Path {
  background: rgba(0, 0, 0, 0.3);
  padding: 3px 8px;
  border-radius: 8px;
}

@media (max-width: 767px) {
  .Forge {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 12px;
    gap: 12px;
  }

  .Header {
    flex-direction: row;
  }

  .Header img {
    width: auto;
    max-height: 96px;
  }
}
